/* fonsts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

/* default css */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}
.container {
    width: 1200px;
    margin: 40px auto;
}
img {
    width: 100%;
    height: auto;
}

/* header section starts */

.header {
    background: #2D25A0;
}

/* navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10%;
}
nav ul {
    display: flex;
    list-style: none;
}
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 30px 20px;
    display: inline-block;
}

.header .btn {
    text-decoration: none;
    background: #E02C6D;
    color: white;
    padding: 10px 20px;
    border: 0;
    font-size: 16px;
}
.header .btn i {
    margin-right: 10px;
}

/* banner section starts */

.banner-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 8%;
}

.banner-left h1 {
    color: white;
    font-size: 64px;
    line-height: 1.3em;
}
.banner-left {
    margin-right: 2%;
}

.common-btn {
    color: white;
    text-decoration: none;
    background: #E02C6D;
    padding: 10px 25px;
    margin-top: 30px;
    display: inline-block;
}
.common-btn i {
    margin-left: 10px;
}

.banner-right {
    margin-top: 35px;
}

.banner-right img {
    width: 556px;
    height: 456px;
}

/* player section starts */

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.player {
    box-shadow: 0px 0px 40px rgb(0 0 0 / 15%);
    padding: 15px;
}
.player-info h3 {
    font-size: 25px;
    margin: 10px 0;
}

.player img {
    width: 100%;
}

/* hightlight section starts */

.hightlight {
    display: flex;
    margin: 100px auto;
    justify-content: space-between;
    align-items: center;
}
.hightlight-content {
    margin-right: 10%;
}

.hightlight-photo img {
    width: 567px;
    height: 427px;
}

.hightlight-content h2 {
    font-size: 52px;
    line-height: 1.3em;
    margin-bottom: 20px;
}
.hightlight-content p {
    font-size: 16px;
    color: #6C6C6C;
    line-height: 28px;
}

/* footer section starts
 */

 footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px 0;
}

 footer img {
    width: 227px;
    height: 67px;
}
.social-icons {
    margin: 20px 0;
}
.social-icons a {
    color: gray;
}

.social-icons i {
    font-size: 20px;
    background: lightgray;
    padding: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}