/* fonsts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

/* default css */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}
.container {
    width: 1200px;
    margin: 20px auto;
}
img {
    width: 100%;
    height: auto;
}

/* header section starts */

.header {
    background: #2D25A0;
    min-height: 650px;
}

/* navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10%;
}
nav ul {
    display: flex;
    list-style: none;
}
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 30px 20px;
    display: inline-block;
}

.header .btn {
    text-decoration: none;
    background: #E02C6D;
    color: white;
    padding: 10px 20px;
    border: 0;
    font-size: 16px;
}
.header .btn i {
    margin-right: 10px;
}

/* banner section starts */

.banner-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10%;
}

.banner-left h1 {
    color: white;
    font-size: 64px;
    line-height: 80px;
    font-weight: 700;
    transition: transform 1s;
}
.banner-left h1:hover {
    color: red;
    transform: translateX(10px);
}

.banner-left {
    margin-right: 8%;
}

.common-btn {
    color: white;
    text-decoration: none;
    background: #E02C6D;
    padding: 10px 25px;
    margin-top: 27px;
    display: inline-block;
}

.common-btn i {
    margin-left: 10px;
}

.banner-right {
    margin-top: 35px;
}

.banner-right img {
    width: 556px;
    height: 456px;
}

/* .banner-right img {
    width: 100%;
    height: auto;
} */

/* player section starts */

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.player {
    box-shadow: 0px 0px 40px rgb(0 0 0 / 15%);
    padding: 15px;
}
.player-info h3 {
    font-size: 28px;
    line-height: 40px;
    font-weight: 700;
    margin: 10px 0;
}
.player-info p {
    font-size: 16px;
    line-height: 26px;
}

.player img {
    width: 100%;
}

/* first extra section starts */

.psg-special {
    padding: 30px 0;
}

.psg {
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr);
    grid-gap: 30px;
}

.psg-info{
    box-shadow: 2px 2px 20px rgb(0 0 0 / 30%);
    padding: 15px;
}
.psg-info h3 {
    font-size: 22px;
}

.psg-info span {
    margin-top: 10px;
    display: inline-block;
    color: red;
}


/* second section starts */

.euro-special {
    padding: 30px 0;
}

.euro-final {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 30px;
}
article.team-info {
    box-shadow: 2px 2px 20px rgb(0 0 0 / 20%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.team-info img {
    width: 100px;
}

.team-info p {
    margin-top: 25px;
}

/* hightlight section starts */

.hightlight {
    display: flex;
    margin: 20px auto;
    justify-content: space-between;
    align-items: center;
}
.hightlight-content {
    margin-right: 10%;
}

.hightlight-photo img {
    width: 567px;
    height: 427px;
}

.hightlight-content h2 {
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
    margin-bottom: 20px;
}
.hightlight-content p {
    font-size: 16px;
    color: #6C6C6C;
    line-height: 28px;
}

/* footer section starts
 */

 footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px 0;
}

 footer img {
    width: 489px;
}
.social-icons {
    margin: 20px 0;
}
.social-icons a {
    color: gray;
}

.social-icons i {
    font-size: 20px;
    background: lightgray;
    padding: 12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

footer p {
    font-size: 18px;
    font-weight: 500;
}


/* @media (max-width: 1200px) {
    .banner-right img {
        width: 456px;
        height: 356px;
    }
}

@media (max-width: 1024px) {
    .banner-right img {
        width: 376px;
        height: 266px;
    }
} */


/* @media (max-width: 768px) {
    .container {
        width: 100%;
    }
} */




@media (max-width: 1082px) {

    .container {
        width: 100%;
    }
    /* header starts */
    .header {
        min-height: 500px;
    }
    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 10%;
    }
    /* banner */
    .banner-right img {
        width: 100%;
        height: auto;
    }

    .banner-left h1 {
        font-size: 42px;
        line-height: 56px;
    }

    /* grid sections */
    .players, .psg, .euro-final {
        grid-template-columns: repeat(2, 1fr);
        padding: 25px;
    }

    /* hightlights section */
    .hightlight {
        flex-direction: column;
    }

    .hightlight-content {
        margin: 40px 10%;
    }
    .hightlight-content h2 {
        font-size: 35px;
        line-height: 50px;
    }
}



@media (max-width: 600px) {
    .container {
        width: 100%;
    }
    /* header section */
    .header {
        min-height: 550px;
    }

    nav {
        display: none;
    }
    /* banner starts */
    .banner-section {
        flex-direction: column;
    }
    .banner-left {
        margin-top: 50px;
    }
    .banner-left h1 {
        font-size: 36px;
        line-height: 50px;
    }
    .banner-left {
        margin-right: 0;
    }
    .banner-right img {
        width: 330px;
        height: 260px;
    }
    /* player section */

    .players, .psg, .euro-final {
        grid-template-columns: repeat(1, 1fr);
        padding: 25px;
    }
    .player {
        padding: 20px;
    }
    .psg-info {
        padding: 20px;
    }
    .team-info {
        padding: 25px;
    }

    /* hightlight section */
    
    .hightlight {
        flex-direction: column;
    }

    .hightlight-content {
        margin: 20px 5%;
    }
    .hightlight-content h2 {
        font-size: 30px;
        line-height: 40px;
    }
    .hightlight-photo img {
        width: 328px;
        height: 248px;
    }

    /* footer section */

    footer img {
        width: 275px;
    }
    
}

